@model BiPro_Analytics.Models.Empresa

@{
    ViewData["Title"] = "Charts";
}

<script src="~/lib/jquery/dist/jquery.js"></script>

<section id="charts" class="d-flex align-items-center min-vh-100">

    <input type="hidden" id="HdnIdEmpresa" value="@ViewBag.IdEmpresa"/>

    <div class="container-fluid" id="placeholder">

        <div class="section-title">
            <h1>BIPROBOARD</h1>
            <h2>ES TU HERRAMIENTA NECESARIA PARA EL CONTROL DE LA SALUD Y BIENESTAR DEL RECURSO HUMANO, ASÍ COMO UNA MÉTRICA FINANCIERA PARA LA GESTIÓN ÓPTIMA DE LA EMPRESA</h2>
        </div>

        <div class="row">

            @*G1. Piramide poblacional*@
            <div class="col-md-6 col-sm-6  ">
                <div class="x_panel">
                    <div class="x_title">
                        <h3>Pirámide Poblacional </h3>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <canvas id="PiramidePoblacional"></canvas>
                    </div>
                </div>
            </div>

            @*G2. Prevalencia de condiciones de salud de riesgo. -T2, T3-*@
            <div class="col-md-6 col-sm-6  ">
                <div class="x_panel">
                    <div class="x_title">
                        <h3>Prevalencia de condiciones de salud de riesgo </h3>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <canvas id="CondicionesRiesgoBar"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            @*G3. Prevalencia de riesgo de exposicion en casa y transporte*@
            <div class="col-md-6 col-sm-6 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h3>Riesgo exposición en casa y transporte</h3>
                    </div>
                    <div class="x_content">
                        <canvas id="RiesgosExpocisionCasaTransporte"></canvas>
                    </div>
                </div>
            </div>
            @*G4. Prevalencia de riesgo dentro del espacio laboral*@
            <div class="col-md-6 col-sm-6 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h3>Riesgo de espacio de trabajo abierto y sin ventilación</h3>
                    </div>
                    <div class="x_content">
                        <canvas id="RiesgosEspacioLaboral"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            @*R1. Empleados que llenaron encuesta*@
            <div class="col-md-6 col-sm-6 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h3>Empleados que llenaron encuesta</h3>
                    </div>
                    <div class="x_content">
                        <canvas id="LlenadoEmpleadosFactoresRiesgos"></canvas>
                    </div>
                </div>
            </div>
            @*R2. Grafico de M2*@
            <div class="col-md-6 col-sm-6 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h3>Empleados con condiciones constantes de riesgo</h3>
                    </div>
                    <div class="x_content">
                        <canvas id="EmleadosCondicionesConstantes"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            @*R3. Grafico de M3*@
            <div class="col-md-6 col-sm-6 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h3>Empleados con mayor riesgo de complicarse</h3>
                    </div>
                    <div class="x_content">
                        <canvas id="EmpleadosRiesgoComplicaciones"></canvas>
                    </div>
                </div>
            </div>
        </div>
        @************************************@
        <div class="row">
            @*G1. Empleados con contacto COVID-19*@
            <div class="col-md-6 col-sm-6  ">
                <div class="x_panel">
                    <div class="x_title">
                        <h3>Empleados contacto COVID-19 </h3>
                    </div>
                    <div class="x_content">
                        <canvas id="pieChart"></canvas>
                    </div>
                </div>
            </div>
            @*G2. Síntomas COVID*@
            <div class="col-md-6 col-sm-6 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h3>Personal con sintomas relacionados al Covid</h3>
                    </div>
                    <div class="x_content">
                        <canvas id="SintomasCOVID"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            @*G3. Empleados con anosmia e hiposmia*@
            <div class="col-md-6 col-sm-6 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h3>Resultados Olfatometría</h3>
                    </div>
                    <div class="x_content">
                        <canvas id="EmpleadosAnosmiaHiposmia"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
        </div>
        <div class="row">
        </div>

        <button id="btnPDF" class="btn btn-primary">Generar PDF</button>
    </div>

</section>

<script type="text/javascript">
    $("#btnPDF").click(function () {

        var sHTML = $("#placeholder").html();
        var divContents = $("#dvContainer").html();

        window.print();

        
        //sHTML = sHTML.replace(/</g, "StrTag").replace(/>/g, "EndTag");
        //window.open('../Charts/GenerarPDF?html=' + sHTML, '_blank')
    });

</script>
