
@{
    ViewData["Title"] = "Charts";
}

<h1>Charts</h1>

<iframe width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=19dd2e25-4aab-42af-bcb1-6051cf019d2a&autoAuth=true&ctid=08c7a78d-587d-4487-962e-93c5fb54c7bf&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXNvdXRoLWNlbnRyYWwtdXMtcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D" frameborder="0" allowFullScreen="true"></iframe>