@model BiPro_Analytics.Models.Empresa
@{
    ViewData["Title"] = "Empresas";
}

<section id="empresas" class="d-flex  min-vh-100">
    <div class="container">

        <div class="section-title">
            <h2>Empresas dentro de Bipro Analytics</h2>
        </div>

        <div class="row text-center">
            <div class="col">
                <form asp-action="Index" method="get">
                    <div class="form-actions no-color">
                        <select asp-for="IdEmpresa" asp-items="@(new SelectList(@ViewBag.Empresas,"Id","Empresa"))">
                            <option selected disabled>Seleccionar opción</option>
                        </select>
                        <input type="submit" value="Buscar" class="btn btn-secondary" />
                    </div>
                </form>
            </div>
            <div class="col text-center">
                <a asp-action="Index" class="btn btn-secondary"> Regresar lista completa</a>
            </div>
            <div class="col text-center">
                <a class="btn btn-secondary" asp-action="Create">Crear nuevo</a>
            </div>
        </div>
        
    </div>
</section>
