@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

<footer id="footer" class="fixed-bottom">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>PROW</h3>
                    <p>

                        Ave. Durango Nº 290, piso 6, consultorio 602,<br>
                        Col. Roma Norte.<br>
                        Alcaldía Cuauhtémoc, Cd.Mx.<br><br>
                        <strong>Telefono:</strong> 55 2580 7268<br>
                        <strong>Email:</strong> contacto@miredmedica.org<br>
                    </p>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Links útiles</h4>

                    <ul>

                        @if (SignInManager.IsSignedIn(User))
                        {
                            @if (User.IsInRole("Admin"))
                            {
                                <li>
                                    <i class="bx bx-chevron-right"></i>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Empresas" asp-action="Dashboard">Empresas</a>
                                </li>
                            }
                            @if (User.IsInRole("Admin") || User.IsInRole("AdminEmpresa"))
                            {
                                <li>
                                    <i class="bx bx-chevron-right"></i>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Trabajadores" asp-action="Dashboard">Trabajadores</a>
                                </li>
                            }
                            @if (User.IsInRole("Admin") || User.IsInRole("AdminEmpresa") || User.IsInRole("Trabajador"))
                            {
                                <li>
                                    <i class="bx bx-chevron-right"></i>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="RiesgosTrabajadores" asp-action="Dashboard">Riesgos Trabajadores</a>
                                </li>
                                <li>
                                    <i class="bx bx-chevron-right"></i>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="RegistroPruebas" asp-action="Dashboard">Registro Pruebas</a>
                                </li>
                            }
                            @if (User.IsInRole("Admin") || User.IsInRole("AdminEmpresa"))
                            {
                                <li>
                                    <i class="bx bx-chevron-right"></i>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Incapacidades" asp-action="Dashboard">Incapacidades</a>
                                </li>
                                <li>
                                    <i class="bx bx-chevron-right"></i>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Tablero" asp-action="Charts">Tablero</a>
                                </li>
                            }

                        }
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Nuestros Servicios</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>Unete a nuestra Red PROW</h4>
                    <p>¡Nosotros cuidamos de tu salud y de tu vida! No dudes en consultar nuestros servicios</p>
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="Subscribe">
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div class="container d-md-flex py-4">

        <div class="mr-md-auto text-center text-md-left">
            <div class="copyright">
                &copy; Copyright <strong><span>PROW</span></strong>. Todos los derechos reservados
                &copy;  <strong><span><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacidad</a></span></strong>

            </div>


            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/medilab-free-medical-bootstrap-theme/ -->

            </div>
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="https://www.facebook.com/MiRedMedica" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="https://www.instagram.com/mired_medica/" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="https://www.youtube.com/channel/UCboyKbEI_3Ory1t2e21BDcA" class="youtube"><i class="bx bxl-youtube"></i></a>
            <a href="https://www.linkedin.com/in/mi-red-medica-aa22a71a4/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
    </div>
</footer><!-- End Footer -->