<div id="topbar" class="d-none d-lg-flex align-items-center">
    <div class="container d-flex">
        <div class="contact-info mr-auto">
            <i class="icofont-envelope"></i> <a href="mailto:contact@miredmedica.org">contact@miredmedica.org</a>
            <i class="icofont-phone"></i> 55 2580 7268
            <i class="icofont-google-map"></i> Av Durango 290 consultorio 602, CDMX
        </div>
        <div class="social-links">
            <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
            <a href="https://www.facebook.com/MiRedMedica" class="facebook"><i class="icofont-facebook"></i></a>
            <a href="https://www.instagram.com/mired_medica/" class="instagram"><i class="icofont-instagram"></i></a>
            <a href="https://www.youtube.com/channel/UCboyKbEI_3Ory1t2e21BDcA" class="youtube"><i class="icofont-youtube-play"></i></a>
            <a href="https://www.linkedin.com/in/mi-red-medica-aa22a71a4/" class="linkedin"><i class="icofont-linkedin"></i></a>
        </div>
    </div>
</div>