@model BiPro_Analytics.Models.ReporteContagio

@{
    ViewData["Title"] = "Create";
}

<section id="trabajadores" class="d-flex align-items-cente min-vh-100">
    <div class="container">
        <h1>Crear</h1>

        <h4>Reporte de Contagios</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    @if (ViewBag.TiposDePrueba != null)
                    {
                        <div class="form-group">
                            <label asp-for="TipoPrueba" class="control-label">Tipo de prueba</label>
                            <select asp-for="TipoPrueba" class="form-control" asp-items="ViewBag.TiposDePrueba">
                                <option selected disabled>Seleccionar opción</option>
                            </select>
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            <label asp-for="TipoPrueba" class="control-label"></label>
                            <input asp-for="TipoPrueba" class="form-control" />
                            <span asp-validation-for="TipoPrueba" class="text-danger"></span>
                        </div>
                    }
                    <div class="form-group">
                        <label asp-for="Positivos" class="control-label">Número de positivos</label>
                        <input id="Positivos" asp-for="Positivos" onkeyup="sum()" class="form-control" />
                        <span asp-validation-for="Positivos" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Negativos" class="control-label">Número de negativos</label>
                        <input id="Negativos" asp-for="Negativos" onkeyup="sum()" class="form-control" />
                        <span asp-validation-for="Negativos" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NumeroPruebas" class="control-label">Total de pruebas</label>
                        <input id="NumeroPruebas" asp-for="NumeroPruebas" class="form-control" />
                        <span asp-validation-for="NumeroPruebas" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NumeroSemana" class="control-label"></label>
                        <input asp-for="NumeroSemana" class="form-control" />
                        <span asp-validation-for="NumeroSemana" class="text-danger"></span>
                    </div>
                    @if (User.IsInRole("Admin"))
                    {
                        <div class="form-group">
                            <label asp-for="IdEmpresa" class="control-label"></label>
                            <select asp-for="IdEmpresa" class="form-control" asp-items="ViewBag.IdEmpresa">
                                <option selected disabled>Seleccionar opción</option>
                            </select>
                        </div>
                    }

                    @if (ViewBag.Unidades != null)
                    {
                        <div class="form-group">
                            <label asp-for="IdUnidad" class="control-label">Unidad</label>
                            <select asp-for="IdUnidad" class="form-control" asp-items="ViewBag.Unidades">
                                <option selected disabled>Seleccionar opción</option>
                            </select>
                        </div>
                    }

                    @if (ViewBag.Areas != null)
                    {
                        <div class="form-group">
                            <label asp-for="IdArea" class="control-label">Área</label>
                            <select asp-for="IdArea" class="form-control" asp-items="ViewBag.Areas">
                                <option selected disabled>Seleccionar opción</option>
                            </select>
                        </div>
                    }

                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Regresar a la lista</a>
        </div>
    </div>

</section>

<script>

    function sum() {
        var txtFirstNumberValue = document.getElementById('Positivos').value;
        var txtSecondNumberValue = document.getElementById('Negativos').value;
        if (txtFirstNumberValue == "")
            txtFirstNumberValue = 0;
        if (txtSecondNumberValue == "")
            txtSecondNumberValue = 0;

        var result = parseInt(txtFirstNumberValue) + parseInt(txtSecondNumberValue);
        if (!isNaN(result)) {
            document.getElementById('NumeroPruebas').value = result;
        }
    }

</script>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
