@{
    ViewData["Title"] = "Home Page";
}


<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <h1>Bievenido al centro de análisis</h1>
        <p>Mi red medica lo acompaña con las mejores herramientas de analisis de información relacionando al Covid19</a>.</p>
    </div>
</section><!-- End Hero -->
