@{
    ViewData["Title"] = "Home Page";
}


<section id="hero" class="d-flex align-items-center min-vh-100">
    <div class="container">
        <h1>Bienvenido al centro de análisis</h1>
        <p>Mi Red Médica lo acompaña con las mejores herramientas de análisis de información relacionando al Covid19.</p>

        @if (User.IsInRole("Trabajador"))
        {
            @if (ViewBag.FactoresRiesgo == null)
            {
                <div class="row">
                    <div class="alert alert-info col-md-5" role="alert">
                        Aún no llenas cuestionario de factores de riesgos:
                    </div>
                    <div class="alert alert-info col-md-3" role="alert">
                        <a class="btn btn-info" asp-controller="FactoresRiesgos" asp-action="Create">Contestar encuesta</a>
                    </div>
                </div>
            }
            @if (ViewBag.RiesgosContagios == null)
            {
                <div class="row">
                    <div class="alert alert-info col-md-5" role="alert">
                        Aún no llenas cuestionario de riesgos de contagio:
                    </div>
                    <div class="alert alert-info col-md-3" role="alert">
                        <a class="btn btn-info" asp-controller="RiesgoContagios" asp-action="Create">Contestar encuesta</a>
                    </div>
                </div>

            }

            @if (ViewBag.PruebasExternas == null)
            {
                <div class="row">
                    <div class="alert alert-info col-md-5" role="alert">
                        Aún no llenas cuestionario de pruebas:
                    </div>
                    <div class="alert alert-info col-md-3" role="alert">
                        <a class="btn btn-info" asp-controller="Pruebas" asp-action="Create">Contestar encuesta</a>
                    </div>
                </div>

            }

            @if (ViewBag.SeguimientoCovid == null)
            {
                <div class="row">
                    <div class="alert alert-info col-md-5" role="alert">
                        Aún no llenas cuestionario de seguimiento covid:
                    </div>
                    <div class="alert alert-info col-md-3" role="alert">
                        <a class="btn btn-info" asp-controller="SeguimientosCovid" asp-action="Create">Contestar encuesta</a>
                    </div>
                </div>
            }

            @if (ViewBag.Reincorporados == null)
            {
                <div class="row">
                    <div class="alert alert-info col-md-5" role="alert">
                        Aún no llenas cuestionario de reincorporados:
                    </div>
                    <div class="alert alert-info col-md-3" role="alert">
                        <a class="btn btn-info" asp-controller="Reincorporados" asp-action="Create">Contestar encuesta</a>
                    </div>
                </div>
            }

        }

    </div>

</section><!-- End Hero -->