@model BiPro_Analytics.Models.Incapacidad

@{
    ViewData["Title"] = "Edit";
}

<section>
    <div class="container">
        <h1>Editar</h1>

        <h4>Incapacidad</h4>
        <hr />

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdIncapacidad" />

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="FechaHoraInicio" class="control-label"></label>
                        <input asp-for="FechaHoraInicio" class="form-control" />
                        <span asp-validation-for="FechaHoraInicio" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="FechaHoraFin" class="control-label"></label>
                        <input asp-for="FechaHoraFin" class="form-control" />
                        <span asp-validation-for="FechaHoraFin" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="MotivoIncapacidad" class="control-label"></label>
                        <input asp-for="MotivoIncapacidad" class="form-control" />
                        <span asp-validation-for="MotivoIncapacidad" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="TipoIncapacidad" class="control-label"></label>
                        <input asp-for="TipoIncapacidad" class="form-control" />
                        <span asp-validation-for="TipoIncapacidad" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="SeEncuentraEn" class="control-label"></label>
                        <select id="select1" asp-for="SeEncuentraEn" class="form-control">
                            <option selected disabled>Seleccionar opción</option>
                            <option>Asistiendo a Laborar</option>
                            <option>Laborando desde Casa</option>
                            <option>Inactivo con Incapacidad en Casa</option>
                            <option>Inactivo con Incapacidad en Hospital</option>
                            <option>Inactivo con Incapacidad en UCI</option>
                        </select>
                        <span asp-validation-for="SeEncuentraEn" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="IdTrabajador" class="control-label"></label>
                        <div class="form-group">
                            <label asp-for="IdTrabajador" class="control-label">Trabajador del cuestionario</label>
                            @if (ViewBag.Trabajadores != null)
                            {
                                <select asp-for="IdTrabajador" asp-items="@(new SelectList(@ViewBag.Trabajadores,"Id","Trabajador"))">
                                    <option selected disabled>Seleccionar opción</option>
                                </select>
                            }
                            else
                            {
                                <input asp-for="IdTrabajador" class="form-control" />
                            }
                            <span asp-validation-for="IdTrabajador" class="text-danger"></span>
                        </div>
                        <span asp-validation-for="IdTrabajador" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
                <div class="col-md-3">

                </div>
            </div>
            <div class="row">
                <div class="col-md-3">

                </div>
                <div class="col-md-3">

                </div>
                <div class="col-md-3">

                </div>
                <div class="col-md-3">

                </div>
            </div>
            <div class="row">
                <div class="col-md-3">

                </div>
                <div class="col-md-3">

                </div>
                <div class="col-md-3">

                </div>
                <div class="col-md-3">

                </div>
            </div>

        </form>

        <div>
            <a asp-action="Index">Regresar a la lista</a>
        </div>
    </div>
</section>



