@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmación de registro";
}

<section class="d-flex align-items-cente min-vh-100" id="empresas">
    <div class="col-md-4" id="tableTransparent">
        <br />
        <br />
        <br />
        <br />
        <h1>@ViewData["Title"]</h1>
        <br />
        @{
            if (@Model.DisplayConfirmAccountLink)
            {
                <br />
                <p>
                    This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
                    Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
                </p>
            }
            else
            {
                <br />
                <p>
                    Por favor revise su correo para confirmar su cuenta.
                </p>
            }
        }
    </div>

</section>
