@page
@model RegisterEmpresaModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>


<section id="registro" class="d-flex align-items-cente min-vh-100 grayTransparent">
    <div class="col-md-6" id="tableTransparent">
        <div class="section-title">
            <h2>¡Bienvenida / bienvenido! ¡Registrate para tener todos lo beneficios de BiPro Analytics!</h2>
        </div>
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Crear nueva cuenta.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
