@model PROWAnalytics.Models.Area

@{
    ViewData["Title"] = "Editar";
}

<section id="adminRelaciones" class="d-flex  min-vh-100">
    <div class="container">
        <h1>Editar</h1>

        <h4>Área</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Nombre" class="control-label"></label>
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    @if (User.IsInRole("AdminEmpresa"))
                    {
                        <div>
                            empresa asignada
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            <label asp-for="IdEmpresa" class="control-label">Empresa</label>
                            @if (ViewBag.Empresas != null)
                            {
                                <select asp-for="IdEmpresa" asp-items="@(new SelectList(@ViewBag.Empresas,"Id","Empresa"))">
                                    <option selected disabled>Seleccionar opción</option>
                                </select>
                            }
                            else
                            {
                                <input asp-for="IdEmpresa" class="form-control" />
                            }
                            <span asp-validation-for="IdEmpresa" class="text-danger"></span>
                        </div>
                    }
                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Regresar a la lista</a>
        </div>

    </div>
</section>