@model BiPro_Analytics.Models.Trabajador
@{
    ViewData["Title"] = "Trabajadores";
}

<section id="trabajadores" class="d-flex align-items-cente min-vh-100">
    <div class="container">

        <div class="section-title">
            <h2>Trabajadores dentro de Bipro Analytics</h2>
        </div>

        @if(User.IsInRole("Admin"))
        {
         <div>
            <h4 class="title">Buscar por empresa</h4>
            <form asp-action="Index" method="get">
                <div class="form-actions no-color">
                    <div class="form-row">
                        <div class="col-md-6 form-group">
                            <select asp-for="IdEmpresa" asp-items="@(new SelectList(@ViewBag.Empresas,"Id","Empresa"))">
                                <option selected disabled>Seleccionar Empresa</option>
                            </select>
                        </div>
                        <div class="col-md-3 form-group">
                            <input type="submit" value="Buscar" class="btn btn-secondary" />
                        </div>
                    </div>
                </div>
            </form>
        </div>   
        }

        <div>
            <h4 class="title">Buscar por trabajador</h4>
            <form asp-action="Index" method="get">
                <div class="form-actions no-color">
                    <div class="form-row">
                        <div class="col-md-6 form-group">
                            <select asp-for="IdTrabajador" asp-items="@(new SelectList(@ViewBag.Trabajadores,"Id","Trabajador"))">
                                <option selected disabled>Seleccionar Trabajador</option>
                            </select>
                        </div>
                        <div class="col-md-3 form-group">
                            <input type="submit" value="Buscar" class="btn btn-secondary" />
                        </div>
                    </div>
                </div>
            </form>
        </div>


        <form asp-action="Index" method="get">
            <div class="form-actions no-color">
                <div class="form-row">
                    <div class="col form-group">
                        <a class="btn btn-secondary" asp-action="Index">Regresar lista completa</a>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col form-group">
                        <a class="btn btn-secondary" asp-action="Create">Crear nuevo</a>
                    </div>
                </div>
            </div>
        </form>
    </div>

</section><!-- End About Section -->

