@{
    ViewData["Title"] = "Registrar Empresa";
}


<div  class="sectionType d-flex min-vh-100">
    <div class="container">

        <div data-tf-live="01HBXYC9TXRRAWP9Q0TXZDXTRQ"></div>
        <script src="//embed.typeform.com/next/embed.js"></script>

    </div>
</div>